@import '../../../colors.scss';
@import '../../../mixins.scss';

.list {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid $terciary-color;
  border-radius: 10px;
  overflow: auto;

  @include tablet {
    width: 330px;
  }

  @include desktop {
    width: 300px;
  }
}