@import '../../_colors.scss';
@import '../../mixins.scss';


.footer {
  width: 100%;
  display: flex;
  background-color: $primary-color;
  color: $light-color;


  &__creator-title {
    font-size: 16px;
    line-height: 14px;
    width: 50%;
    text-align: center;

    @include tablet {
      // Tablet changes
    }


  }
  &__social-media-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    list-style-type: none;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: $light-color-opacity;
      }
    }
  }

}