@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & h2 {
    color: blue;
  }
  & p {
    color: red;
  }
}